@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Genos:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.info-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    left: 70%;
    top: 20%;
    padding: 2vh;
    color: rgba(253, 253, 253, 1.0);
    width: 25vw;
    height: 60vh;
    border-radius: 5px;
    border: 1px solid rgba(93, 0, 255, 0.1);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    font-size: calc(0.25rem + 1.2vh);
}

.info-wrapper a {
    text-decoration: underline;
    color: white;
    transition: all;
    transition-duration: 0.5;
}

.info-wrapper a:hover {
    color: rgb(79, 40, 251);

}
